<!DOCTYPE HTML>

<html>
<head>
	@await Html.PartialAsync("Metatagspartial")
	@await Html.PartialAsync("CssPartial")
	<script src="~/js/test.js"></script>
	<script src="~/js/newTest.js"></script>
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				@await Html.PartialAsync("HeaderPartial")
				
				<section>
					@RenderBody()
					
						
					
				</section>
				

			</div>
		</div>
		
		<!-- Sidebar -->
		@await Html.PartialAsync("SidebarPartial")
		@await Html.PartialAsync("ScriptsPartial")
	</div>

	@await Html.PartialAsync("Footerpartial")
	

</body>


</html>